<div class="">
  <img src="assets/img/logo.svg" class="logo">
  <mat-dialog-content>
    <form [formGroup]="form" class="form">
      <mat-form-field class="input">
        <mat-label><strong>Имя</strong></mat-label>
        <input type="text" matInput formControlName="firstName"
               placeholder="Иван">
        <mat-error *ngIf="get('firstName').hasError('required')">
          <strong>Имя обязательно</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label><strong>Фамилия</strong></mat-label>
        <input type="text" matInput formControlName="lastName"
               placeholder="Иванов">
        <mat-error *ngIf="get('lastName').hasError('required')">
          <strong>Фамилия обязательна</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label><strong>Адрес</strong></mat-label>
        <input type="text" matInput formControlName="address"
               placeholder="ул. Ленина 2">
        <mat-error *ngIf="get('address').hasError('required')">
          <strong>Адрес обязателен</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label><strong>Номер телефона</strong></mat-label>
        <input type="text" matInput formControlName="phoneNumber"
               placeholder="+7 999 999-99-99">
        <mat-error *ngIf="get('phoneNumber').hasError('required')">
          <strong>Номер телефона обязателен</strong>
        </mat-error>
        <mat-error *ngIf="get('phoneNumber').hasError('pattern')">
          <strong>Номер телефона должен быть формата +7 999 999-99-99</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <div class="dish-list">
    <ng-form *ngFor="let dish of getCart()" class="card">
      <img src="{{dish.image.link}}" class="card-img"/>
      <p class="title">{{dish.name}}</p>
      <p class="number-info title">{{dish.cost}} Р</p>
      <p class="number-info description weight">{{dish.weight}} г</p>
      <p class="description">{{dish.description}}</p>
      <div class="manage">
        <a>Количество: </a>
        <a class="manage-buttons" (click)="decrement(dish)">-</a>
        <a>{{getCartService().cart.get(dish)}}</a>
        <a class="plus manage-buttons" (click)="increment(dish)">+</a>
        <button mat-raised-button class="center main-button del-button"
                (click)="deleteFromCart(dish)">Удалить
        </button>
      </div>
    </ng-form>
    <div class="total">ИТОГО: <div class="total-number">{{getTotal()}}</div> Р</div>
  </div>
  <td-dialog-actions layout="row" layout-align="start center" layout-fill>
    <button mat-raised-button class="center main-button white-button"
            (click)="cancel()">Вернуться на сайт
    </button>
    <button mat-raised-button class="center main-button"
            [disabled]="!enabledForm()"
            (click)="accept()">Подтвердить заказ
    </button>
  </td-dialog-actions>
</div>
