<div class="card">
  <img src="{{dish.image.link}}" height="160px"/>
  <p class="title">{{dish.name}}</p>
  <p class="description">{{dish.description}}</p>
  <p class="number-info title price">{{dish.cost}} Р</p>
  <p class="number-info description weight">{{dish.weight}} г</p>
  <button *ngIf="!selected" mat-raised-button class="center"
          (click)="addToCart(dish)"
          >В КОРЗИНУ
  </button>
  <div *ngIf="selected" class="manage">
    <a>Количество: </a>
    <a class="manage-buttons" (click)="decrement(dish)">-</a>
    <a>{{getCartService().cart.get(dish)}}</a>
    <a class="plus manage-buttons" (click)="increment(dish)">+</a>
    <button mat-raised-button class="center del-button"
            (click)="deleteFromCart(dish)">Удалить
    </button>
  </div>
</div>
