.card {
  width: 260px;
  height: 400px;
  margin: 10px;
  background: #FCFCFC;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: inline-block;
}
img {
  display:block;
  margin:auto;
  border-radius: 5px;
}
.title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.description {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
.number-info {
  float:left;
}
.price {
  padding-left: 85px;
}
.weight {
  padding-left: 15px;
  padding-top: 7px;
}
button {
  position: absolute;
  width: 150px;
  color: white;
  background: #54bf29;
  transform: translate(-80%, 0);
  margin-bottom: 5px;
  border-radius: 70px;
  margin-top: 50px;
}
.manage {
  min-width: 150px;
  display: inline-block;
  float: left;
  text-align: center;
  margin-left: 5px;
}
.manage a {
  padding: 5px;
  display: inline-block;
  float: left;
  font-size: 18px;
  font-weight: 500;
}
.plus {
  color: #54BF29;
}
.manage-buttons {
  cursor: pointer;
}
.del-button {
  max-width: 90px;
  min-width: 90px;
  max-height: 30px;
  min-height: 30px;
  margin-top: 30px;
}
