<div class="">
  <img src="assets/img/logo.svg" class="logo">
  <td-dialog-title class="title">Вход</td-dialog-title>
  <mat-dialog-content>
    <form [formGroup]="form" class="form" layout="row" layout-align="start center">
      <mat-form-field class="input">
        <mat-label><strong>Ваш Email</strong></mat-label>
        <input type="email" matInput formControlName="email"
               placeholder="ex.pat@example.com">
        <mat-error *ngIf="get('email').hasError('email') && !get('email').hasError('required')">
          <strong>Некорректный email</strong>
        </mat-error>
        <mat-error *ngIf="get('email').hasError('required')">
          <strong>Email обязателен</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label><strong>Пароль</strong></mat-label>
        <input type="password" matInput formControlName="password"
               placeholder="******">
        <mat-error *ngIf="get('password').hasError('required')">
          <strong>Пароль обязателен</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <td-dialog-actions layout="row" layout-align="start center" layout-fill>
    <button mat-raised-button class="center"
            [disabled]="!enabledForm()"
            (click)="accept()">Войти
    </button>
    <mat-error *ngIf="error" layout-align="center end">
      <strong>Email или пароль введен неверно</strong>
    </mat-error>
  </td-dialog-actions>
  <a (click)="goToReg()">Не зарегистрированы?</a>
</div>
