.form {
  min-width: 600px;
  max-width: 700px;
  min-height: 200px;
  padding-top: 40px;
  width: 100%;
}
.logo {
  margin-top: 10px;
  padding-left: 190px;
}
.input {
  height: 60px;
  margin-left: 60px;
  margin-top: 20px;
  width: 550px;
}
button {
  position: relative;
  left: 50%;
  width: 250px;
  color: white;
  background: #54bf29;
  transform: translate(-55%, 0);
  margin-bottom: 5px;
  border-radius: 70px;
}
.mat-error {
  margin-top: 5px;
  position: relative;
  max-width: 400px;
  left: 195px;
}
.mat-form-field {
  display: block!important;
}
a {
  position: relative;
  top: 40px;
  color: #2F3035;
  cursor: pointer;
}
.title {
  position: relative;
  top: 40px;
  right: 170px;
  font-weight: bold;
  font-size: 24px;
}
