.table {
  display: block;
  padding-left: 170px;
  padding-top: 25px;
}
.list {
  position: relative;
  display: block;
}
p {
  padding-top: 40px;
  font-weight: 700;
  font-size: 24px;
  margin-left: 10px;
}
